body {
    background-color: rgba(0, 0, 0, 0);
    margin: 0px auto;
    overflow: hidden;
}

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

#container {
    display: flex;
    flex-direction: column;
    max-height: 240px;
    width: {{widgetWidth}}px;
    overflow: hidden;
    border-radius: {{borderRadius}}px;
    opacity : 0;
}

#div-previousText {
    height: 40px;
    width: {{widgetWidth}}px;
    background-color: {{previousBGColor}};
    align-items: center;
    overflow: hidden;
    padding-left: 2%;
    padding-right: 2%;
    
    display: {{displayPrevious}};
    order: {{previousLocation}};
}

#previousText {    
    text-transform: {{previousTextTransform}};
	margin: {{previousAlignment}};
	color: {{previousColor}};
	font-family: '{{previousFontName}}', sans-serif;
	font-size: {{previousFontSize}}px;
	font-weight: {{previousFontWeight}};
	text-shadow: {{previousShadowH}}px {{previousShadowV}}px {{previousShadowB}}px {{previousShadowColor}};
}

#div-current {
    max-height: 200px;
    display: flex;
    z-index: -2;
    order: 1;
    overflow: hidden;
    border-radius: 0px;

    background-color: {{currentBGColor}};
}

#div-cover {
    width: {{coverWidth}}%;
    z-index: 100;
    background-color: {{currentBGColor}};
    display: {{displayCover}};
    align-items: center;
    justify-content: center;

    order: {{coverLocation}};
}

#cover {
    width: {{coverSize}}%;
    border-radius: {{coverCorner}}px;
}

#div-song {
    width: calc(100% - {{coverWidth}}%);
    display: {{displayTrack}};
    flex-direction: column;
    justify-content: space-around;
    box-shadow: inset -19px 0px 3px -3px {{currentBGColor}},
  							   0 0 0 1px {{currentBGColor}},
  				inset  19px 0px 3px -3px {{currentBGColor}};
}

#div-song>div {
    padding-left: 2%;
    padding-right: 2%;
    overflow: hidden;
    z-index: -2;
}

#div-title {
    height: 72px;
    display: {{displayTitle}};
    align-items: center;
    
    background-color: {{currentBGColor}};
    order: {{titleLocation}};
}

#div-artists {
    height: 52px;
    display: {{displayArtists}};
    align-items: center;
    
    background-color: {{currentBGColor}};
    order: {{artistsLocation}};
}

#div-album {
    height: 40px;
    display: {{displayAlbum}};
    align-items: center;
    
    background-color: {{currentBGColor}};
    order: {{albumLocation}};
}

#div-progress {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 2%;
    margin-right: 2%;
    padding-left: 0% !important;
    padding-right: 0% !important;
    height: 36px;
    width: 96%;
    
    background-color: {{currentBGColor}};
    order: {{progressLocation}};
}

#div-progressBar-total {
    display: {{displayProgressBar}};
    height: 16%;
    width: 100%;
    transform: scaleX({{progressDirection}});
    background-color: {{progressTotalBGColor}} !important;
    order: 1;
}

#div-progressBar-current {
    height: 100%;
    background-color: {{progressCurrentColor}};
}

#div-progressText {
    display: {{displayProgressText}};
    flex-direction: {{progressTextOrder}};
    justify-content: space-between;
    width: 100%;

    order: {{progressTextLocation}};
}

#div-progressText-current {
    align-self: start;
}

#div-progressText-total {
    align-self: end;
}



span {
    white-space: nowrap;
}

#title {
    text-transform: {{titleTextTransform}};
	margin: {{titleAlignment}};
	color: {{titleColor}};
	font-family: '{{titleFontName}}', sans-serif;
	font-size: {{titleFontSize}}px;
	font-weight: {{titleFontWeight}};
	text-shadow: {{titleShadowH}}px {{titleShadowV}}px {{titleShadowB}}px {{titleShadowColor}};
}

#artists {
    text-transform: {{artistsTextTransform}};
    margin: {{artistsAlignment}};
    color: {{artistsColor}};
    font-family: '{{artistsFontName}}', sans-serif;
    font-size: {{artistsFontSize}}px;
    font-weight: {{artistsFontWeight}};
    text-shadow: {{artistsShadowH}}px {{artistsShadowV}}px {{artistsShadowB}}px {{artistsShadowColor}};
}

#album {
    text-transform: {{albumTextTransform}};
	margin: {{albumAlignment}};
	color: {{albumColor}};
	font-family: '{{albumFontName}}', sans-serif;
	font-size: {{albumFontSize}}px;
	font-weight: {{albumFontWeight}};
	text-shadow: {{albumShadowH}}px {{albumShadowV}}px {{albumShadowB}}px {{albumShadowColor}};
}

#progressText-current,
#progressText-total {
    margin-left: {{progressTextAlignment}};
	color: {{progressTextColor}};
	font-family: '{{progressTextFontName}}', sans-serif;
	font-size: {{progressTextFontSize}}px;
	font-weight: {{progressTextFontWeight}};
	text-shadow: {{progressTextShadowH}}px {{progressTextShadowV}}px {{progressTextShadowB}}px {{progressTextShadowColor}};
}


.scrolling-slide {
    animation: slide 20s linear infinite;
    animation-delay: -10s;
}

@keyframes slide {
    0% {
        transform: translateX(100%);
    }

    50% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-100%);
    }
}

.scrolling-bafslide {
    animation: bafslide {{scrollingDuration}}s linear infinite;
}

@keyframes bafslide {
    0% {
        transform: translateX(0%);
    }

    40% {
        transform: translateX(calc(-100% + 768px));
    }

    50% {
        transform: translateX(calc(-100% + 768px));
    }
    
    90% {
        transform: translateX(0%);
    }
    
    100% {
        transform: translateX(0%);
    }
}

/* fadeIn, slideInUp, slideInDown, slideInRight, slideInLeft */
.animateIn {
    animation: {{animateIn}} {{animateInDuration}}s;
}

/* fadeOut, slideOutDown, slideOutUp, slideOutLeft, slideOutRight */
.animateOut {
    animation: {{animateOut}} {{animateOutDuration}}s;
}

@keyframes hold {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes slideInUp {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }

    100% {
        transform: none;
        opacity: 1;
    }
}

@keyframes slideOutDown {
    0% {
        transform: none;
        opacity: 1;
    }

    100% {
        transform: translateY(100%);
        opacity: 0;
    }
}

@keyframes slideInDown {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }

    100% {
        transform: none;
        opacity: 1;
    }
}

@keyframes slideOutUp {
    0% {
        transform: none;
        opacity: 1;
    }

    100% {
        transform: translateY(-100%);
        opacity: 0;
    }
}

@keyframes slideInRight {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }

    100% {
        transform: none;
        opacity: 1;
    }
}

@keyframes slideOutLeft {
    0% {
        transform: none;
        opacity: 1;
    }

    100% {
        transform: translateX(-100%);
        opacity: 0;
    }
}

@keyframes slideInLeft {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }

    100% {
        transform: none;
        opacity: 1;
    }
}

@keyframes slideOutRight {
    0% {
        transform: none;
        opacity: 1;
    }

    100% {
        transform: translateX(100%);
        opacity: 0;
    }
}

.animateQueue {
    animation: none;
}